<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GBP</key>
	<dict>
		<key>currencyCode</key>
		<string>GBP</string>
		<key>countryName</key>
		<string>Great Britian</string>
		<key>currencyName</key>
		<string>Pound Sterling</string>
		<key>amountLabel</key>
		<string>0.00</string>
		<key>favorite</key>
		<false/>
	</dict>
	<key>MXN</key>
	<dict>
		<key>currencyCode</key>
		<string>MXN</string>
		<key>countryName</key>
		<string>Mexico</string>
		<key>currencyName</key>
		<string>Mexican Peso</string>
		<key>amountLabel</key>
		<string>0.00</string>
		<key>favorite</key>
		<true/>
	</dict>
	<key>NZD</key>
	<dict>
		<key>currencyCode</key>
		<string>NZD</string>
		<key>countryName</key>
		<string>New Zealand</string>
		<key>currencyName</key>
		<string>New Zealand Dollar</string>
		<key>amountLabel</key>
		<string>0.00</string>
		<key>favorite</key>
		<true/>
	</dict>
	<key>USD</key>
	<dict>
		<key>currencyCode</key>
		<string>USD</string>
		<key>countryName</key>
		<string>United States</string>
		<key>currencyName</key>
		<string>United States Dollar</string>
		<key>amountLabel</key>
		<string>0.00</string>
		<key>favorite</key>
		<true/>
	</dict>
</dict>
</plist>
